li
{
    color: #000000;
    background-color: #AAAAAA;
    
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    font-size: 28px;
    width: 100px;
    height: 35px;
}
ul
{
    width: 600px;
    
    position: absolute;
    left: calc(50vw - 320px);
}
a:visited, a
{
    color: #000000;
    text-decoration: none;
}